@import "tailwindcss";

@theme {
  --color-blue-main: #006FFF;
  --color-blue-light: hsl(214, 100%, 95%);
}



html,
body {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.heading {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

a {
  @apply transition-all;
}