@import "tailwindcss";

@theme {
  --color-blue-main: #006FFF;
}

@view-transition {
  navigation: auto;
}


html,
body {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: normal;
}

a {
  @apply transition-all;
}

