---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
	<Hero />
	<section class="px-6 mb-16 max-w-[80rem] mx-auto">
		<h2 class="text-5xl mb-6">NAJBOLJE PLJESKAVICE U ŽITIŠTU</h2>
		<p>
			Alpi je najbolja hamburgerija u Žitištu i okolini. Nudimo jela sa
			roštilja, pljeskavice, ćevape, piletinu i najbolje sendviče.
		</p>
	</section>
	<section class="px-6 mb-16 max-w-[80rem] mx-auto">
		<h2 class="text-5xl mb-6">LOKAL</h2>
		<div class="border-2">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1398.6670985842916!2d20.553294478515607!3d45.48321451405688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475acfb2411d461d%3A0xb8e5f0005d31f682!2sAlpi!5e0!3m2!1sen!2srs!4v1754070769524!5m2!1sen!2srs"
				width="100%"
				height="400"
				style="border:0;"
				allowfullscreen=""
				loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</section>
</Layout>
