---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
	<Hero />
	<div class="px-6 max-w-[80rem] mx-auto">
		<h2 class="text-5xl">ISTAKNUTO</h2>
	</div>
</Layout>
