---

---

<footer class="w-full bg-blue-main text-white h-20 flex justify-center items-center mt-32">
  <div class="max-w-[80rem] mx-auto px-6">
    <small>© 2025 Alpi Restoran.</small>
  </div>
</footer>
