---
import MountainRange from "../assets/mountainrange.svg";
---

<main class="flex-1 w-full bg-white">
  <div class="relative w-screen">
    <MountainRange
      class="mountain-range w-screen max-h-36 object-fill text-white absolute h-auto bottom-0 left-0 transform translate-y-[1px]"
    />
  </div>
  <slot />
</main>