---
---

<section class="w-full bg-blue-main mb-16 relative">
  <div
    class="w-full justify-between gap-2 md:gap-0 mx-auto max-w-[80rem] pt-36 pb-8 px-6 text-white flex flex-col  font-[Barlow_Condensed]"
  >
    
  </div>
</section>